In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
table={"Student":["Elias","Samuel","Terry","Evan"],"Age":[27,24,22,32],"Country":["UK","Canada","China","USA"],"Course":["Python","Data Structures","Machine Learning","Web Developent"],"Marks":[85,72,89,76]}

In [3]:
b= pd.DataFrame(table)
b

  Student  Age Country            Course  Marks
0   Elias   27      UK            Python     85
1  Samuel   24  Canada   Data Structures     72
2   Terry   22   China  Machine Learning     89
3    Evan   32     USA    Web Developent     76

In [4]:
w=b[["Country","Course"]]
w

  Country            Course
0      UK            Python
1  Canada   Data Structures
2   China  Machine Learning
3     USA    Web Developent

In [5]:
c=b[b["Age"]>24]
c

  Student  Age Country          Course  Marks
0   Elias   27      UK          Python     85
3    Evan   32     USA  Web Developent     76

metodo iloc y loc
con el metodo iloc[0,0] estamos trayendo el primero elemento de la primera columna

In [12]:
b.iloc[0,0]
b.loc[0,0]

KeyError: 0

In [7]:
b.loc[0,"Course"]

'Python'

In [11]:
df2=b
df2=df2.set_index("Student")
df2

         Age Country            Course  Marks
Student
Elias     27      UK            Python     85
Samuel    24  Canada   Data Structures     72
Terry     22   China  Machine Learning     89
Evan      32     USA    Web Developent     76