In [22]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd

In [4]:
URL = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
tabla = pd.read_html(URL)
df= pd.DataFrame(tabla[0])
# print(df)

In [5]:
df.to_excel('bancos_mas_grandes.xlsx',index=False)
leer_excel= pd.read_excel('bancos_mas_grandes.xlsx')
print(leer_excel)

    Rank                                Bank name  \
0      1  Industrial and Commercial Bank of China
1      2               Agricultural Bank of China
2      3                  China Construction Bank
3      4                            Bank of China
4      5                           JPMorgan Chase
..   ...                                      ...
95    96                            Handelsbanken
96    97                 Industrial Bank of Korea
97    98                                      DNB
98    99                      Qatar National Bank
99   100                  National Bank of Canada

    Total assets (2024) (US$ billion)
0                             6303.44
1                             5623.12
2                             5400.28
3                             4578.28
4                             4002.81
..                                ...
95                             351.79
96                             345.81
97                             339.21
98                             338.14
99                             337.65

[100 rows x 3 columns]

In [21]:
%pip install lxml

Requirement already satisfied: lxml in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (6.0.0)
Note: you may need to restart the kernel to use updated packages.

ahora vamos a hacer web scrapping con beautifulsoup

In [20]:
%pip install bs4
%pip install requests

Requirement already satisfied: bs4 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from bs4) (4.13.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->bs4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->bs4) (4.12.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.

In [16]:
from bs4 import BeautifulSoup
import requests

In [45]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

soup= BeautifulSoup(html,'html.parser')
print(soup.prettify())
tag_object=soup.title
# print("tag object:",tag_object)
# print("tag object type: ", type(tag_object))

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [46]:
tag_object= soup.h3
tag_object

In [47]:
tag_child=tag_object.b 
tag_child
parent_tag=tag_object.parent
parent_tag

In [48]:
sibling_1=tag_object.next_sibling
sibling_1
sibling_2=sibling_1.next_sibling
sibling_2

Si un ejercicio nos pide que busquemos el salario de curry

In [49]:
Curry_salary=sibling_2.next_sibling
Curry_salary

In [50]:
tag_child["id"]
# tag_child.attrs

'boldest'

In [29]:
tag_child.get("id")

'boldest'

asi extraemos el string de la etiqueta:

In [52]:
tag_string=tag_child.string
tag_string
type(tag_string)

bs4.element.NavigableString

y asi lo convertimos a un string puro

In [54]:
unicode_string = str(tag_string)
unicode_string
# type(unicode_string)

'Lebron James'

In [55]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [56]:
table_bs= BeautifulSoup(table,'html.parser')

In [58]:
table_row=table_bs.find_all('tr')
table_row

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

In [ ]:
first_row= table_row[0]
first_row

In [60]:
first_row.td

In [61]:
for i, row in enumerate(table_row):
    print("row", i,"is", row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>

In [65]:
for i, row in enumerate(table_row):
    print("row", i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print("column",j,"cell",cell)

row 0
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
column 2 cell <td>300 kg</td>
row 2
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
column 2 cell <td>80 kg</td>

In [67]:
list_input= table_bs.find_all(name=["tr","td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]