In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
URL = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
tabla = pd.read_html(URL)
df= pd.DataFrame(tabla[0])
# print(df)

In [4]:
df.to_excel('bancos_mas_grandes.xlsx',index=False)
leer_excel= pd.read_excel('bancos_mas_grandes.xlsx')
print(leer_excel)

    Rank                                Bank name  \
0      1  Industrial and Commercial Bank of China
1      2               Agricultural Bank of China
2      3                  China Construction Bank
3      4                            Bank of China
4      5                           JPMorgan Chase
..   ...                                      ...
95    96                            Handelsbanken
96    97                 Industrial Bank of Korea
97    98                                      DNB
98    99                      Qatar National Bank
99   100                  National Bank of Canada

    Total assets (2024) (US$ billion)
0                             6303.44
1                             5623.12
2                             5400.28
3                             4578.28
4                             4002.81
..                                ...
95                             351.79
96                             345.81
97                             339.21
98                             338.14
99                             337.65

[100 rows x 3 columns]

In [5]:
%pip install lxml

Requirement already satisfied: lxml in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (6.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

ahora vamos a hacer web scrapping con beautifulsoup

In [6]:
%pip install bs4
%pip install requests

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: bs4 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from bs4) (4.13.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->bs4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->bs4) (4.12.2)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: requests in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
from bs4 import BeautifulSoup
import requests

In [8]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

soup= BeautifulSoup(html,'html.parser')
print(soup.prettify())
tag_object=soup.title
# print("tag object:",tag_object)
# print("tag object type: ", type(tag_object))

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [9]:
tag_object= soup.h3
tag_object

In [10]:
tag_child=tag_object.b 
tag_child
parent_tag=tag_object.parent
parent_tag

In [11]:
sibling_1=tag_object.next_sibling
sibling_1
sibling_2=sibling_1.next_sibling
sibling_2

Si un ejercicio nos pide que busquemos el salario de curry

In [12]:
Curry_salary=sibling_2.next_sibling
Curry_salary

In [13]:
tag_child["id"]
# tag_child.attrs

'boldest'

In [14]:
tag_child.get("id")

'boldest'

asi extraemos el string de la etiqueta:

In [15]:
tag_string=tag_child.string
tag_string
type(tag_string)

bs4.element.NavigableString

y asi lo convertimos a un string puro

In [16]:
unicode_string = str(tag_string)
unicode_string
# type(unicode_string)

'Lebron James'

In [17]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [18]:
table_bs= BeautifulSoup(table,'html.parser')

In [19]:
table_row=table_bs.find_all('tr')
table_row

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

In [20]:
first_row= table_row[0]
first_row

In [21]:
first_row.td

In [22]:
for i, row in enumerate(table_row):
    print("row", i,"is", row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>

In [23]:
for i, row in enumerate(table_row):
    print("row", i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print("column",j,"cell",cell)

row 0
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
column 2 cell <td>300 kg</td>
row 2
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
column 2 cell <td>80 kg</td>

In [24]:
list_input= table_bs.find_all(name=["tr","td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]

In [25]:
buscar_porhref= table_bs.find_all(href=True)
buscar_porhref

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

Podemos tambien hacer un find all para buscar por el contenido del string

In [26]:
table_bs.find_all(string=True)

['Flight No',
 'Launch site',
 ' ',
 'Payload mass',
 ' ',
 '1',
 'Florida',
 '300 kg',
 '2',
 'Texas',
 '94 kg',
 '3',
 'Florida',
 ' ',
 '80 kg']

El metodo find_all sirve para escanear y buscar todo lo que coincida en los argumentos que le mandamos.
Para hacer una Busqueda del primero elemento y por ende  mas directa con otros argumentos usamos el metodo find()

In [27]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [28]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

In [29]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [30]:
filtro=two_tables_bs.find("table",class_='pizza')

In [31]:
print(filtro)

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

Paso a Paso para Descargar y hacer scraping del contenido de una pagina web

In [32]:
url="http://www.ibm.com"

In [33]:
datos=requests.get(url).text

In [34]:
soup=BeautifulSoup(datos,"html.parser")

In [35]:
for link in soup.find_all('a',href=True):
    print(link.get('href'))

https://www.ibm.com/reports/data-breach?lnk=hpls1us
https://www.ibm.com/products/guardium-ai-security?lnk=hpls2us
https://ibm.webcasts.com/starthere.jsp?ei=1726278&tp_key=0445cec615&lnk=hprc1us
https://www.ibm.com/think/podcasts/ai-in-action/ai-against-ai-based-cybersecurity?lnk=hprc2us
https://www.ibm.com/products/watsonx-governance?lnk=hprc3us
https://www.ibm.com/training/security?lnk=hprc4us
https://www.ibm.com/granite?lnk=hpdev1us
https://developer.ibm.com/technologies/artificial-intelligence/?lnk=hpdev2us
https://skillsbuild.org/?lnk=hpdev3us
https://www.ibm.com/new/announcements/agentic-ai-governance-evaluation-and-lifecycle?lnk=hpdev4us
https://research.ibm.com/blog/granite-vision-ocr-leaderboard?lnk=hpdev5us
https://www.ibm.com/new/announcements/ibm-named-a-leader-in-the-2025-gartner-magic-quadrant-for-data-science-and-machine-learning-platforms?lnk=hpdev6us
https://www.ibm.com/new/announcements/ibm-named-a-leader-in-the-2025-idc-marketscape?lnk=hpdev7us
https://www.ibm.com/products/watsonx-code-assistant/pricing?lnk=hpdev8us
https://www.ibm.com/products/spss-statistics?lnk=hppr1us
https://www.ibm.com/software?lnk=hpfp1us
https://www.ibm.com/artificial-intelligence?lnk=hpfp2us
https://www.ibm.com/granite?lnk=hpfp3us
https://www.ibm.com/consulting?lnk=hpfp4us
https://www.ibm.com/solutions/analytics?lnk=hpfp5us
https://www.ibm.com/solutions/automation?lnk=hpfp6us
https://www.ibm.com/solutions/servers?lnk=hpfp7us
https://www.ibm.com/solutions/data-and-ai?lnk=hpfp8us
https://www.ibm.com/solutions/security?lnk=hpfp9us
https://www.ibm.com/about?lnk=hpii1us
https://www.ibm.com/history?lnk=hpii1us
https://research.ibm.com?lnk=hpii1us
https://www.ibm.com/quantum?lnk=hpii1us
https://www.ibm.com/careers?lnk=hpii1us
https://skillsbuild.org?lnk=hpii1us

In [36]:
for link in soup.find_all('img'):
    print(link)
    print(link.get('src'))

<img alt="Illustration of elements of security with connecting lines" class="cmp-image__image" height="760" itemprop="contentUrl" loading="lazy" src="https://assets.ibm.com/is/image/ibm/security-summit-illo-1-1?ts=1753875050037&amp;dpr=off" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" title="Abstract cybersecurity illustration with lock icon" width="760"/>
https://assets.ibm.com/is/image/ibm/security-summit-illo-1-1?ts=1753875050037&dpr=off
<img alt="Security specialist in cybersecurity center" class="cmp-image__image" height="320" itemprop="contentUrl" loading="lazy" src="https://assets.ibm.com/is/image/ibm/20210329-f-security-suite-webinar-25817?ts=1753875055486&amp;dpr=off" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="444"/>
https://assets.ibm.com/is/image/ibm/20210329-f-security-suite-webinar-25817?ts=1753875055486&dpr=off
<img alt="Illustration of a single point connecting to several other points" class="cmp-image__image" height="864" itemprop="contentUrl" loading="lazy" src="https://assets.ibm.com/is/image/ibm/verify-feature-identity-governance-1-1?ts=1753875056258&amp;dpr=off" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="864"/>
https://assets.ibm.com/is/image/ibm/verify-feature-identity-governance-1-1?ts=1753875056258&dpr=off
<img alt="Developer holding laptop with tree chart behind him" class="cmp-image__image" height="1200" itemprop="contentUrl" loading="lazy" src="https://assets.ibm.com/is/image/ibm/ai-for-developers-1-1?ts=1753875060207&amp;dpr=off" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" title="Man using laptop with digital interface" width="1200"/>
https://assets.ibm.com/is/image/ibm/ai-for-developers-1-1?ts=1753875060207&dpr=off
<img alt="Stylized screenshot from SPSS Statistics formatted for 568x320 email banner, with title copy

" class="cmp-image__image" height="670" itemprop="contentUrl" loading="lazy" src="https://assets.ibm.com/is/image/ibm/spss-screenshot-2-title?ts=1753875074375&amp;dpr=off" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" title="SPSS Statistics v31 software interface screenshot" width="1191"/>
https://assets.ibm.com/is/image/ibm/spss-screenshot-2-title?ts=1753875074375&dpr=off

In [37]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [38]:
data  = requests.get(url).text

In [39]:
table = soup.find('table')
messi=table.find_all('tr')

AttributeError: 'NoneType' object has no attribute 'find_all'

In [ ]:
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

AttributeError: 'NoneType' object has no attribute 'find_all'