In [4]:
pip install nba_api

Requirement already satisfied: nba_api in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (1.10.0)
Requirement already satisfied: numpy>=2.1.0 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from nba_api) (2.2.2)
Requirement already satisfied: pandas>=2.2.0 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from nba_api) (2.2.3)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from nba_api) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2025.1.31)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from pandas>=2.2.0->nba_api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas>=2.2.0->nba_api) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas>=2.2.0->nba_api) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->nba_api) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from nba_api.stats.static import teams

In [50]:
nba_teams = teams.get_teams()

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [47]:
# def one_dict(list_dict):
#     keys=list_dict[0].keys()
#     out_dict={key:[] for key in keys}
#     for dict_ in list_dict:
#         for key, value in dict_.items():
#             out_dict[key].append(value)
#     return out_dict

keys= nba_teams[0].keys()
out_dict= {key:[] for key in keys}
# for teams in nba_teams:
#   for key,value in teams.items():
#     out_dict[value].append(value)

In [48]:
print(out_dict)

{'id': [1610612737, 1610612738, 1610612739, 1610612740, 1610612741, 1610612742, 1610612743, 1610612744, 1610612745, 1610612746, 1610612747, 1610612748, 1610612749, 1610612750, 1610612751, 1610612752, 1610612753, 1610612754, 1610612755, 1610612756, 1610612757, 1610612758, 1610612759, 1610612760, 1610612761, 1610612762, 1610612763, 1610612764, 1610612765, 1610612766], 'full_name': ['Atlanta Hawks', 'Boston Celtics', 'Cleveland Cavaliers', 'New Orleans Pelicans', 'Chicago Bulls', 'Dallas Mavericks', 'Denver Nuggets', 'Golden State Warriors', 'Houston Rockets', 'Los Angeles Clippers', 'Los Angeles Lakers', 'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves', 'Brooklyn Nets', 'New York Knicks', 'Orlando Magic', 'Indiana Pacers', 'Philadelphia 76ers', 'Phoenix Suns', 'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs', 'Oklahoma City Thunder', 'Toronto Raptors', 'Utah Jazz', 'Memphis Grizzlies', 'Washington Wizards', 'Detroit Pistons', 'Charlotte Hornets'], 'abbreviation': ['ATL', 'BOS', 'CLE', 'NOP', 'CHI', 'DAL', 'DEN', 'GSW', 'HOU', 'LAC', 'LAL', 'MIA', 'MIL', 'MIN', 'BKN', 'NYK', 'ORL', 'IND', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'OKC', 'TOR', 'UTA', 'MEM', 'WAS', 'DET', 'CHA'], 'nickname': ['Hawks', 'Celtics', 'Cavaliers', 'Pelicans', 'Bulls', 'Mavericks', 'Nuggets', 'Warriors', 'Rockets', 'Clippers', 'Lakers', 'Heat', 'Bucks', 'Timberwolves', 'Nets', 'Knicks', 'Magic', 'Pacers', '76ers', 'Suns', 'Trail Blazers', 'Kings', 'Spurs', 'Thunder', 'Raptors', 'Jazz', 'Grizzlies', 'Wizards', 'Pistons', 'Hornets'], 'city': ['Atlanta', 'Boston', 'Cleveland', 'New Orleans', 'Chicago', 'Dallas', 'Denver', 'Golden State', 'Houston', 'Los Angeles', 'Los Angeles', 'Miami', 'Milwaukee', 'Minnesota', 'Brooklyn', 'New York', 'Orlando', 'Indiana', 'Philadelphia', 'Phoenix', 'Portland', 'Sacramento', 'San Antonio', 'Oklahoma City', 'Toronto', 'Utah', 'Memphis', 'Washington', 'Detroit', 'Charlotte'], 'state': ['Georgia', 'Massachusetts', 'Ohio', 'Louisiana', 'Illinois', 'Texas', 'Colorado', 'California', 'Texas', 'California', 'California', 'Florida', 'Wisconsin', 'Minnesota', 'New York', 'New York', 'Florida', 'Indiana', 'Pennsylvania', 'Arizona', 'Oregon', 'California', 'Texas', 'Oklahoma', 'Ontario', 'Utah', 'Tennessee', 'District of Columbia', 'Michigan', 'North Carolina'], 'year_founded': [1949, 1946, 1970, 2002, 1966, 1980, 1976, 1946, 1967, 1970, 1948, 1988, 1968, 1989, 1976, 1946, 1989, 1976, 1949, 1968, 1970, 1948, 1976, 1967, 1995, 1974, 1995, 1961, 1948, 1988]}

In [60]:
tabla = pd.DataFrame(out_dict)

tabla.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [15]:
import requests

In [5]:
url = "https://www.promiedos.com.ar/"
r= requests.get(url)
print(r.status_code)
print(r.headers)
print(r.text[0:100])

200
{'Content-Type': 'text/html; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Date': 'Wed, 04 Jun 2025 20:29:19 GMT', 'Cache-Control': 'public, max-age=10', 'X-Powered-By': 'Next.js', 'ETag': '"r8tja36k5z1awe"', 'Content-Encoding': 'gzip', 'Vary': 'Accept-Encoding, Origin', 'X-Cache': 'Hit from cloudfront', 'Via': '1.1 6492b42e2fc3684cc00b54d685c2328c.cloudfront.net (CloudFront)', 'X-Amz-Cf-Pop': 'MIA3-C2', 'Alt-Svc': 'h3=":443"; ma=86400', 'X-Amz-Cf-Id': 'axeiH1v32nHIppHYC5luzHzwIp0ZAVXxn9r_3F5DJ0n6xt6wAH3FHg==', 'Age': '4'}
<!DOCTYPE html><html lang="es" translate="no"><head><meta charSet="utf-8" data-next-head=""/><meta n

In [8]:
pip install beautifulsoup4 requests

Requirement already satisfied: beautifulsoup4 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (4.13.4)
Requirement already satisfied: requests in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (2.32.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from requests) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.

In [27]:
from bs4 import BeautifulSoup



soup = BeautifulSoup(r.text, "html.parser")

eventos = soup.find_all(class_="header")

if eventos:
    for e in eventos:
        print("messi")
else:
    print("Clase no encontrada en el HTML descargado.")

messi

In [1]:
import requests
from bs4 import BeautifulSoup
url= "https://quotes.toscrape.com/tag/humor/"

requests= requests.get(url)

soup = BeautifulSoup(requests.text,"html.parser")

eventos= soup.find_all("span", class_="text")

for i,event in enumerate(eventos):
    print(f"Oracion numero {i+1}: {event.text}")

Oracion numero 1: “The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
Oracion numero 2: “A day without sunshine is like, you know, night.”
Oracion numero 3: “Anyone who thinks sitting in church can make you a Christian must also think that sitting in a garage can make you a car.”
Oracion numero 4: “Beauty is in the eye of the beholder and it may be necessary from time to time to give a stupid or misinformed beholder a black eye.”
Oracion numero 5: “All you need is love. But a little chocolate now and then doesn't hurt.”
Oracion numero 6: “Remember, we're madly in love, so it's all right to kiss me anytime you feel like it.”
Oracion numero 7: “Some people never go crazy. What truly horrible lives they must lead.”
Oracion numero 8: “The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.”
Oracion numero 9: “Think left and think right and think low and think high. Oh, the thinks you can think up if only you try!”
Oracion numero 10: “The reason I talk to myself is because I’m the only one whose answers I accept.”

In [1]:
import sys
!{sys.executable} -m pip install seaborn lxml openpyxl

Requirement already satisfied: seaborn in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: lxml in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (6.0.0)
Requirement already satisfied: openpyxl in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.10.3)
Requirement already satisfied: et-xmlfile in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\pablo\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import seaborn as sns
import pandas as pd
import openpyxl

In [5]:
import requests

url= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv"
filename="direcciones.csv"

def download(url, filename):
    response= requests.get(url)
    if response.status_code == 200:
        with open (filename,"wb") as f:
            f.write(response.content)
    else:
        print("Error al cargar el archivo:", response.status_code)        
download(url,filename)

df=pd.read_csv("direcciones.csv",header=None)
df

,0,1,2,3,4,5
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [28]:
df.columns=['First Name','Last Name','Location','City','State','Area Code']
df

ValueError: Length mismatch: Expected axis has 3 elements, new values have 6 elements

In [11]:
df["First Name"]

0                     John
1                     Jack
2            John "Da Man"
3                  Stephen
4                      NaN
5    Joan "the bone", Anne
Name: First Name, dtype: object

In [12]:
df.loc[0]

First Name                 John
Last Name                   Doe
Location      120 jefferson st.
City                  Riverside
State                        NJ
Area Code                  8075
Name: 0, dtype: object

In [13]:
df.loc[0:1]

  First Name Last Name           Location       City State  Area Code
0       John       Doe  120 jefferson st.  Riverside    NJ       8075
1       Jack  McGinnis       220 hobo Av.      Phila    PA       9119

In [27]:
df.loc[[0,1],"First Name"]

KeyError: 'First Name'

In [18]:
df.iloc[[0,1],0]

0    John
1    Jack
Name: First Name, dtype: object

In [19]:
import numpy as np

In [24]:
filas=[[1,2,3],[4,5,6],[7,8,9]]
matriz_filas=np.array(filas)
print(matriz_filas)
df=pd.DataFrame(matriz_filas, columns=['a','b','c'])
df

[[1 2 3]
 [4 5 6]
 [7 8 9]]

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [31]:
df= df.transform(func=lambda x:x+10)
df
raiz_cuadrada=df.transform(func=['sqrt'])
raiz_cuadrada

          a         b         c
       sqrt      sqrt      sqrt
0  6.403124  6.480741  6.557439
1  6.633250  6.708204  6.782330
2  6.855655  6.928203  7.000000

In [29]:
ejemplo= pd.DataFrame({
    "alumnos":["Elias","Teodoro","Luis"],
    "notas":[10,9,8]
}) 
ejemplo

   alumnos  notas
0    Elias     10
1  Teodoro      9
2     Luis      8

leer y manipular archivos json

In [1]:
import json

In [6]:
person={
    'first_name':"Mark",
    "last_name":"abc",
    "age":27,
    "address":{
          "streetAddress": "21 2nd Street",
        "city": "New York",
        "state": "NY",
        "postalCode": "10021-3100"
    }
}
with open('person.json',"w") as f:
    json.dump(person,f, indent=4)

with open("person.json","r") as f:
    data=json.load(f)

print(data[0])

KeyError: 0

In [12]:
json_dictionary=json.dumps(person, indent=4)

with open("person2.json", "w") as f:
    f.write(json_dictionary)

leer y manipular archivos xlsx

In [ ]:
import requests

url= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv"
filename="direcciones.csv"

def download(url, filename):
    response= requests.get(url)
    if response.status_code == 200:
        with open (filename,"wb") as f:
            f.write(response.content)
    else:
        print("Error al cargar el archivo:", response.status_code)        
download(url,filename)

df=pd.read_csv("direcciones.csv",header=None)
df

In [2]:
import requests
import pandas as pd
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/file_example_XLSX_10.xlsx"
filename="file_example_XLSX_10.xlsx"

def download(url,filename):
    response=requests.get(url)
    if response.status_code==200:
        with open(filename,"wb") as f:
            f.write(response.content)
    else:
        print("Error al cargar el archivo:", response.status_code)      

download(url,filename)

df=pd.read_excel("file_example_XLSX_10.xlsx")

In [9]:
from PIL import Image
import requests

url = "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg"
filename="./dog.jpg"
def download(url, filename):
    response = requests.get(url)
    if response.status_code == 200:
        with open(filename,"wb") as f:
            f.write(response.content)
    else:
        print("Error al descargar la imagen ", response.status_code)

download(url,filename)

    
img= Image.open(filename,"r")
img.show()

In [14]:
import pandas as pd
import requests
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/diabetes.csv"
filename="diabetes.csv"
def download(url,filename):
    response=requests.get(url)
    if response.status_code== 200:
        with open(filename,"wb") as f:
            f.write(response.content)
    else:
        print("Error al descargar el archivo ",response.status_code)
download(url,filename)
estadistica=pd.read_csv(filename)

In [19]:
print("las 5 primeras filas del archivo")
estadistica.head(3)

las 5 primeras filas del archivo

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [20]:
estadistica.shape

(768, 9)

In [21]:
estadistica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [22]:
estadistica.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [23]:
data_perdida= estadistica.isnull()
data_perdida.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False

In [ ]:
import pandas as pd
tabla= pd.read_excel("./actas .xlsx",sheet_name=1)
tabla

In [ ]:
tabla["numero acta"]=tabla["Asunto"].str.extract(r"(\d{6})")

In [13]:
tabla.sort_values("numero acta")

,Expediente,Asunto,domicilio,rubro,Fecha de asunto,numero acta
107,12086/2025,REF// ACTA DE COMPROBACION 000035,DOMICILIO: 25 DE MAYO 22,NaN,2025-02-10,000035
109,12078/2025,REF// ACTA DE COMPROBACION N 000036. DOMICILIO...,DOMICILIO 25 DE MAYO 265 CAFETERIA,CAFETERIA,2025-02-07,000036
108,12089/2025,REF// ACTA DE COMPROBACION 000037,DOMICILIO: LAPRIDA 181,NaN,2025-02-10,000037
103,12103/2025,REF// ACTA DE COMPROBACION 000038,DOMICILIO: 25 DE MAYO 372,RUBRO: BAR Y CAFETERIA,2025-02-12,000038
104,12104/2025,REF// ACTA DE COMPROBACION 000039,DOMICILIO: MIGUEL LILLO 362,RUBRO: DISTRIBUIDORA VTA. DE BEBIDAS C/S ALCOHOL,2025-02-12,000039
...,...,...,...,...,...,...
56,12567/2025,REF// ACTA DE COMPROBACION 001003,DOMICILIO: AVDA. COLON 572,NaN,2025-05-13,001003
48,12633/2025,REF// ACTA DE COMPROBACION n 001004,DOMICILIO: LA PLATA 505,NaN,2025-05-23,001004
19,12872/2025,REF// ACTA DE COMPROBACION n 001005,DOMICILIO: JUNIN 402,NaN,2025-07-04,001005
20,12849/2025,REF// ACTA DE COMPROBACION 001006,DOMICILIO: AV. INDEPENDENCIA ESQ. LA RIOJA (N.O),NaN,2025-07-02,001006
29,12775/2025,REF. ACTA DE COMPROBACION Nº: 00068 DE FECHA 2...,DOM. LAVALLE 1503,NaN,2025-06-17,NaN

In [14]:
tabla_dos=pd.read_excel("./actas .xlsx",sheet_name=2)

In [16]:
tabla_dos.sort_values("NºActa de Comprob.")

,Nº Orden de Trabajo,Fecha,NºActa de Comprob.,Nº Acta de Claus.,Nº Acta de Decomiso,Nº Ordenanza,Nº Articulo,Motivo
16,237,04/02/25,35,464.0,NaN,2572/97,"10, 46 y 48","Falta de Hig.,No posee certif. Desinfeccion, N..."
17,241,05/02/25,37,NaN,NaN,2572/97,10,Se constato Plagas ( cucarachas) en deposito
19,255,07/02/25,38,463.0,NaN,2572/97,10,Falta de Higiene
22,265,10/02/25,39,599.0,NaN,2572/97,16,No permite la Inspeccion al local
23,273,11/02/25,40,NaN,NaN,2572/97,47,No reune condiciones Edilicias
...,...,...,...,...,...,...,...,...
46,583,31/03/25,1002,NaN,NaN,2572/97,10,No dio Cumpliento a su Situacion
67,859,13/05/25,1003,707.0,NaN,2572/97,10,"Falta de Higiene ( Sector baño, no posee servi..."
76,964,22/05/25,1004,670.0,NaN,2572/97,47,No reune condicciones Edilicias
101,1257,24/06/25,1005,718.0,NaN,2572/97,10,Falta de Higiene
107,1322,02/07/25,1006,736.0,NaN,2572/97,10,Falta de Higiene

In [28]:
tabla= pd.read_excel("./actas .xlsx", sheet_name=1)

tabla["numero acta"]=tabla["Asunto"].str.extract(r"(\d{6})")

tabla.to_excel("actas_actualizado.xlsx", index=False)

In [39]:
tabla1=pd.read_excel("./actas_actualizado.xlsx")
tabla1
tabla2=pd.read_excel("./actas .xlsx", sheet_name=2)
tabla1

,Expediente,Asunto,domicilio,rubro,Fecha de asunto,numero acta
0,13046/2025,REF/// ACTA DE COMPROBACION n 000341,DOMICILIO: AV. EJERCITO DEL NORTE 2264/66.,NaN,2025-08-05,341.0
1,13026/2025,REF// ACTA DE COMPROBACION 000635,DOMICILIO: AV. ALEM Y PJE. SORIANO (S.E),NaN,2025-08-01,635.0
2,13027/2025,REF// ACTA DE COMPROBACION 000796,DOMICILIO: AV. ALEM 1108,NaN,2025-08-01,796.0
3,13028/2025,REF// ACTA DE COMPROBACION 000797,DOMICILIO: AV. ALEM ESQ. MALABIA (N.E),NaN,2025-08-01,797.0
4,13013/2025,REF// ACTA DE COMPROBACION 000340,DOMICILIO: GRAL. PAZ 1401,NaN,2025-07-30,340.0
...,...,...,...,...,...,...
121,12026/2025,REF// ACTA DE COMPROBACION Nº 000661,9 DE JULIO 2345,VTA DE COMESTIBLES EN GRAL,2025-01-14,661.0
122,12025/2025,REF// ACTA DE COMPROBACION Nº 000818,CORRIENTES 642,BAR. SANDWICHERIA,2025-01-14,818.0
123,12029/2025,REF// ACTA DE COMPROBACION Nº 000841,AV. LAS AMERICA 1734,PANADERIA CON ELABORACION,2025-01-14,841.0
124,12028/2025,REF// ACTA DE COMPROBACION Nº 000842,AV. MARTIN BERHO 184,ELABORACION DE PRODUCTOS DE PANADERIAS,2025-01-14,842.0
125,12015/2025,REF// ACTA DE COMPROBACION Nº 000840,ENTRE RIOS 489,NaN,2025-01-09,840.0

In [48]:
actas_merge=tabla2.merge(tabla1[["Expediente","domicilio","rubro","numero acta"]], left_on="NºActa de Comprob.",right_on="numero acta",how="left")
merge_swift= tabla1.merge(tabla2[["Fecha","NºActa de Comprob."]],left_on="numero acta", right_on="NºActa de Comprob.",how="left")
actas_merge.to_excel("coincidencia.xlsx",index=False)
merge_swift.to_excel("coincidecia_swift.xlsx",index=False)

In [51]:
n_encontradas=actas_merge[actas_merge["numero acta"].isna()]
n_encontradas.to_excel("sin_coincidencia.xlsx",index=False)
datos_sueltos=merge_swift[merge_swift["NºActa de Comprob."].isna()]
datos_sueltos.to_excel("datos_sueltos.xlsx",index="false")